@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #f2f2f2;
	font-family: "Roboto", sans-serif;
}

.contenedor {
	width: 100%;
	height: auto;
	margin: auto;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

nav.barra-navegacion {
	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

nav a {
	text-decoration: none;
	color: black;
	border-left: 1px solid black;
	padding: 15px;
	display: flex;
}

header.encabezado {
	background-color: f2f2f2;
	padding: 55px;
	border-top: 1px solid black;
	display: flex;
	justify-content: center;
}

header.encabezado h1 {
	font-size: 40px;
	font-style: italic;
	display: flex;
}

div.contenedor-secciones {
	border-top: 1px solid black;
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
}
div.contenedor-secciones .seccion1 {
	width: 70%;
	border-right: 1px solid black;
	padding: 20px;
}
div.contenedor-secciones .seccion2 {
	width: 30%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

div.contenedor-secciones section.seccion1 article {
	width: 100%;
	display: flex;
}

div.contenedor-secciones section.seccion1 article div {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

div.contenedor-secciones section.seccion1 article div h3,
p {
	padding: 5px;
	display: flex;
}

div.contenedor-secciones section.seccion2 article {
	margin: 30px;
	box-shadow: 0px 0px 3px grey;
	display: flex;
	flex-direction: column;
}
div.contenedor-secciones section.seccion2 article h3 {
	padding: 5px;
	display: flex;
}

div.contenedor-secciones section.seccion2 article h5 {
	margin-left: 5px;
	color: gray;
	font-weight: lighter;
	display: flex;
}
div.contenedor-secciones section.seccion2 article .botones {
	height: 49%;

	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	box-shadow: 0px 0px 1px grey;
}

div.contenedor-secciones section.seccion2 article .botones input[type="button"] {
	margin: 1px 0 6px 0;
	padding: 0 20px;
	display: flex;
}

div.contenedor-secciones section.seccion2 article .botones .Approve {
	width: 50%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid green;
	color: green;
	cursor: pointer;
	display: flex;
}

div.contenedor-secciones section.seccion2 article .botones .Decline {
	width: 50%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid red;
	color: red;
	cursor: pointer;
	display: flex;
}

div.contenedor-secciones section.seccion2 article div.foto-perfil img {
	width: 30px;
	display: flex;
}

footer.pie_pagina {
	border-top: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

footer.pie_pagina div {
	border: 1px solid black;
	margin: 10px;
}
